<div class="block">
  <h3>Items</h3>
  <ul class="navigation">
    <li><a href="#">Add new item</a></li>    
  </ul>
  
</div>
<div class="block notice">
  <h3>Simple Block</h3>
  <%#= f.fields_for :items do |item| %>
    <table>
      <tr>
        <th><%#= item.label :name %></th>
        <th><%#= item.label :quantity %></th>
      </tr>
    </table>
        <%# end %>
  <%#= link_to t("web-app-theme.add_new", :default => "Add New"), add_item_path(@list.id) %>
  </div>
