<div class="block">
  <h3>Items</h3>
  <ul class="navigation">
    <li><a href="#">Add new item</a></li>    
  </ul>
  
</div>
<div class="block notice">
  <h3>Simple Block</h3>
  <div class="content">
    <p>Place to hold items</p>
  </div>
</div>